<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            style="height: 5px"
            role="progressbar"
            [style.width]="getProgress1"
          ></div>
        </div>
        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            style="height: 5px"
            role="progressbar"
            [style.width]="getProgress2"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <!-- <app-increment (outputValue)="changeChildValue($event)" [value]="15" /> -->
        <app-increment (outputValue)="progress1 = $event" [value]="progress1" />
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-increment
          (outputValue)="progress2 = $event"
          [value]="progress2"
          [btnClassName]="'btn-info'"
        />
      </div>
    </div>
  </div>
</div>
